.artigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 400px;
    padding: 10px;
   background-color:  rgb(240, 248, 255, 0.61);
   
}