.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20vh;
    gap: 90px;
}
.info{
    display: flex;
    flex-direction: column;
    
}
.info-ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0;
    padding-left: 0;
  
}
