.content {
  margin: 0 20px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.h1-menuBar{
  margin-left: 20px;
}
.h1-menuBar:hover{
  text-shadow: 3px 3px 4px black;
}
.nav-menuBar {
  font-size: 20px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}
.li-menuBar {
    border-radius: 4px;
  padding: 4px 7px;
  list-style-type: none;
  background-color: rgba(240, 248, 255, 0.61);
}
.li-menuBar:hover{
    font-weight: 600;
}
